---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const query = new URL(Astro.url).searchParams;
const v = query.get("v");
const staticOgImage = new URL("/og-image.png", Astro.site).toString();
const dynamicOgImage = new URL(`/og.png?v=${v}`, Astro.site).toString();
const resolvedImageWithDomain = v ? dynamicOgImage : staticOgImage;

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "How Much to Make"
  : "How Much to Make - calculator for indiehackers";
---

<!doctype html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="A handy calculator for figuring out how to hit your monetary goals."
      canonical={canonicalURL}
      twitter={{
        creator: "@jsjoeio",
        site: "@jsjoeio",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `How Much to Make - calculator for indiehackers`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "How Much to Make open graph image",
        },
      }}
    />
    <script
      type="text/partytown"
      src="https://beamanalytics.b-cdn.net/beam.min.js"
      data-token="a57899e3-9104-4146-b0c9-1c77e4b91387"
      async></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
